$media-phone: 600px;
$media-tab: 800px;
$media-port: 1200px;
$media-big: 1800px;

$color-primary: #23395b;
$color-primary-dark: #11284b;
$color-primary-light: #4d8ae6;
$color-white: #fff;

$box-shadow: 0 5px 1.5rem rgba(0, 0, 0, .3);